<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <ul>
    <form action="/form" method="post">
    <input type="text"   name="name" value="">
    <input type="text"   name="email" value="">
    <input type="text"   name="url" value="">
    <input type="submit" value="submit">
    <button>Add New user</button>
  </form>
    </ul>
  </body>
</html>
